@import "../../variable";
.mainHeader {
  background-color: $yellow-main;
}
.menuHeader {
  display: flex;
  .menuItem {
    display: flex;
    .menuItemLink {
      display: flex;
      color: $title-color;
      font-weight: bold;
      padding: 12px;
      display: flex;
      align-items: center;
      &:hover {
        transition: all 0.3s linear;
        background-color: #e7c400;
      }
    }
    &::after {
      content: "";
      width: 2px;
      height: 100%;
      background-color: #e7c400;
      opacity: 0.4;
    }
    &:last-child::after {
      display: none;
    }
  }
}
.iconDown {
  margin-left: 6px;
}
@media (max-width: 1023px) {
  .menuHeader {
    .menuItem {
      .menuItemLink {
        padding: 6px;
      }
    }
  }
}
